DATABASE_URL=postgresql://user:password@localhost:5432/database_name
CORS_ORIGINS=http://localhost:5173
SECURE_COOKIES=false
SECRET_KEY=SECRET_KEY
ACCESS_TOKEN_EXPIRE_MINUTES=1440
N8N_API_KEY=SECRET_KEY